body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
  text-decoration: none;
  color: #444;
}

#list {
  width: 98vw;
  padding-bottom: 20px;;
}

.accordion {
color: #444;
cursor: pointer;
padding: 18px;
width: 100%;
text-align: left;
border: none;
outline: none;
transition: 0.4s;
font-size: 1.3rem;
}

.accordion, a {
font-size: 1.3rem;
}

.red{
background-color: rgba(146, 15, 35, 0.37);
color: #444;
}

.green{
background-color: rgb(33, 110, 33, 0.37);
color: #444;
}

.blue{
background-color: rgba(34, 27, 126, 0.37);
color: #444;
}

.active, .accordion:hover {
background-color: #ccc;
color: #444;
}

.panel {
padding: 0 18px;
background-color: rgb(238, 238, 238);
display: none;
overflow: hidden;
}

.panel, a {
font-size: 1.1rem;
}

.panel, a:hover {
color: #ccc;
}

.headline {
background-color: #E8E7E7;
color: #444;
padding: 18px;
width: 98vw;
text-align: left;
border: none;
outline: none;
font-size: 1.1rem;
box-shadow: 0px 3px 5px 0px rgba(186,186,186,1);
}

.headline, a {
font-size: 1.3rem;
}

.accordion:after {
content: '\02795'; /* Unicode character for "plus" sign (+) */
font-size: 13px;
color: #777;
float: right;
margin-left: 10px;
padding-right: 10px;
}

.active:after {
content: "\2796"; /* Unicode character for "minus" sign (-) */
}
